.App {
  text-align: center;
  margin-top: 50px;
}

.tracking-table {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  #employee td,
  #employee th {
    border: 1px solid #ddd;
    padding: 12px;
    @media (max-width: 768px) {
      font-size: 13px;
      padding: 5px;
    }
  }
